<p>view-customer works!</p>
<h2 [innerText]='obj.cname'></h2>
<table>
    <tr>
        <td>name</td>
        <td > <input type="text" [value]='obj.cname'> </td>

    </tr>
    <tr>
        <td>Age</td>
        <td > <input type="text" [value]='obj.Age'> </td>

    </tr>
    <tr>
        <td>email</td>
        <td > <input type="text" [value]='obj.email'> </td>

    </tr>
    <tr>
        <td>Mobile</td>
        <td > <input type="text" [value]='obj.Mobile'> </td>

    </tr>

</table>
<!--<a [href]='url'>Google</a>-->
